<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
  h1 {
  text-align: center;
  margin-top:50px;
}
  .innerdiv{
    text-align: center;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 200px;
  }
  .leftinnerdiv{
    float:left;
    width: 25%;
  }
  .rightinnerdiv{
    float:right;
    width: 75%;
    
  }

  .greenbtn {
    background-color:rgb(16,170,16);
    color: white;
    width:350%;
    height: 40px;
    margin-top:8px;
  }

  .redbutton {
    background-color:rgb(255,0,0);
    color: white;
    width:350%;
    height: 40px;
    margin-top:8px;
  }
</style>

<body  style="background-color:lavenderblush">
  <div>
    <h1 style="font-family:Trebuchet MS; font-size:50px;">Welcome to Library Management System</h1>
  </div>
    <div class="container">
    <div class="innerdiv">
      <div class="leftinnerdiv">
        <Button class="redbutton">User</Button> 
        <a href ="/Myaccount"><Button class="greenbtn">My Account</Button></a>
        <a href ="/requestbook"><Button class="greenbtn">Request Book</Button></a>
        <a href ="/Userbookreport"><Button class="greenbtn">BOOKREPORT</Button></a>
        <a href ="/login"><Button class="greenbtn">LOGOUT</Button></a>
      </div> 
    </div>
    </div>
    <script >
      
    </script>
</body>
</html>